[submodule "galeb-router"]
	path = galeb-router
	url = https://github.com/galeb/galeb-router.git
[submodule "galeb-healthchecker"]
	path = galeb-healthchecker
	url = https://github.com/galeb/galeb-healthchecker.git
[submodule "galeb-api"]
	path = galeb-api
	url = https://github.com/galeb/galeb-api.git
[submodule "galeb-libraries"]
	path = galeb-libraries
	url = https://github.com/galeb/galeb-libraries.git
