[submodule "galeb-metrics"]
	path = galeb-metrics
	url = https://github.com/galeb/galeb-metrics.git
[submodule "galeb-undertow"]
	path = galeb-undertow
	url = https://github.com/galeb/galeb-undertow.git
[submodule "galeb-router"]
	path = galeb-router
	url = https://github.com/galeb/galeb-router.git
[submodule "galeb-healthchecker"]
	path = galeb-healthchecker
	url = https://github.com/galeb/galeb-healthchecker.git
[submodule "galeb-api"]
	path = galeb-api
	url = https://github.com/galeb/galeb-api.git
[submodule "galeb-hazelcast"]
	path = galeb-hazelcast
	url = https://github.com/galeb/galeb-hazelcast.git
[submodule "galeb-statsd"]
	path = galeb-statsd
	url = https://github.com/galeb/galeb-statsd.git
[submodule "galeb-core"]
	path = galeb-core
	url = https://github.com/galeb/galeb-core.git
